@mixin size($width, $height) {
    width: $width;
    height: $height;
}

.post-group-1-2 {
    display: flex;


    width: 290px;
    height: 145px;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .post-group-1-2 {
        @include size(calc((100vw - 20px)/3), calc((100vw - 20px)/6));
    }
}